@font-face {
    font-family: strawford;
    src: url('../fonts/strawford.ttf');
}

/* Main Elements */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: strawford;
    background-color: #3b4252;
    margin: 0;
}

#sapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Variables */
:root {
    /* Phone variables */
    --phone-width: 20em; /* dont go below 20 or above 60 xd */
    --border-size: .2em;
    --app-size: calc((var(--phone-width) / 8) + .5em);
    --phone-height: calc(var(--phone-width) * 2);
    --border-radius: 35px;
    --notch-height: calc(var(--phone-width) / 10 / 2);
    --border-color: white;
    --app-bg: #FFFA;
    --bottom-bg: rgba(0, 0, 0, 0.3);
    --top-bg: rgba(0, 0, 0, 0.8);
    --app-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --button-bg: rgba(255, 255, 255, .75);
    --button-hover-bg: rgba(255, 255, 255, .9);
    --output-bg: rgba(0, 0, 0, .75);
}

/* Phone CSS */
.phone {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
    width: var(--phone-width);
    height: var(--phone-height);
    min-width: 20em;
    min-height: 40em;
    border: var(--border-size) solid var(--border-color);
    background-color: transparent;
    background-image: url("https://source.unsplash.com/kMxlbbzbFhQ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--phone-width) var(--phone-height);
    border-radius: var(--border-radius);
    margin: 0 auto;
}

.app-container {
    grid-row: span 16;
    display: flex;
    width: auto;
}


/* Misc */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}